*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}




.hero{
        height: 100vh;
        background-image: linear-gradient(rgba(250, 48, 48, 0),rgba(0, 0, 0, 8)),url(background.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;

}

.nav-bar{
    display: flex;
    padding: 40px 50px;
}

.nav-logo img{
    width: 140px;
}
.nav-link{
    flex: 1;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-link ul a{
    color: rgb(4, 255, 79);
    text-decoration: none ;
    font-size: 30px;

}
.nav-link ul li::after{
    content:'' ;
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: .5s;

}
.nav-link ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: rgb(2, 2, 2);
    background-color: rgb(254, 255, 254);
    font-weight: bold;
    cursor: pointer;


}
.nav-link .btn{
    float: right
}
.banner{
    margin: 80px 130px;
    color: rgb(255, 255, 255);
}
.banner h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner h1 span{
    color: red;
}
.vertical-bar{
    
    height: 100%;
    background: #000000;
    top: 0;
    left: 0%;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}
.social-icon{
    height: 35%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icon .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;

}
.notification{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}
.contents{
    flex-basis: 50%;
    padding: 10px;
}
notification-img{
    flex-basis: 50%;
}
.nav-bar .fa{
    display: none;
}


@media (max-width: 700px){
    .vertical-bar{
        display: none;
    }
    .banner{
        margin: 80px 40px;

    }
    .banner h1{
        font-size: 50px;
    }
    .notification{
        width: 100%;
    }
    .nav-bar{
        padding: 10px 30px;

    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color:rgb(255, 0, 0);
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link{
        height: 100vh;
        width: 200px;
        background: #000000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .nav-link  ul a{
        display: block;
    }
    .nav-link .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}